
body, html {
  height: 100%;
  margin: 0;
}

#bg  {
  /* The image used */
  background-image: url("image/background1.jpg");

  /* Full height */
  height: 100%; 
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg .content{
    z-index: 2;
    position: relative;
    /* color: #fff; */
    color: #000000;
}